# Modeling Food Serving Sizes Through Nutrition Profiles

### Notebook 1 - Cleaning

## Table of Contents

1. [Importing Packages](#Importing-Packages)
2. [Reading Data](#Reading-Data)
3. [Initial EDA](#Initial-EDA)
    1. [Food Info](#Food-Info)
    2. [Food Names](#Food-Names)
    3. [Nutrient Info](#Nutrient-Info)
    4. [Nutrient Names](#Nutrient-Names)
4. [Data Cleaning](#Data-Cleaning)
    1. [Duplicate Energy](#Duplicate-Energy)
    1. [Nutrient Pivot Table](#Nutrient-Pivot-Table)
    2. [Merging Dataframes](#Merging-Dataframes)
    3. [Null Brand Owners](#Null-Brand-Owners)
    4. [Calculating Energy](#Calculating-Energy)
    4. [Cleaning Nutrients](#Cleaning-Nutrients)
5. [Saving Data](#Saving-Data)
6. [Sources](#Sources)

## Importing Packages

In [1]:
# general tools/visualization
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# making the magic happen for plots
%matplotlib inline

# setting options for better viewing
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_colwidth", 100)

## Reading Data

 The full databse is split up among many tables, so there are several datasets that need to be loaded in to work with. These include the datasets including the food product names, food product information, nutrient names, and complete nutrional information for each food.

In [2]:
# reading in food info db
food_info = pd.read_csv("../datasets/branded_food.csv")

/Users/jondov/anaconda3/envs/dsi/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# reading in food names/ids database
food_names = pd.read_csv("../datasets/food.csv")

In [4]:
# reading in nutrient info db
nutrient_info = pd.read_csv("../datasets/food_nutrient.csv")

In [5]:
# reading in nutrient names/ids
nutrient_names = pd.read_csv("../datasets/nutrient.csv")

## Initial EDA

It is always important to get an initial idea of what all of the data looks like. Since there was a warning about mixed data types for the `food_info` dataframe, it is especially important to understand what form the entries are in.

### Food Info

In [6]:
# checking the head for what the data looks like
food_info.head()

,fdc_id,brand_owner,gtin_upc,ingredients,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,data_source,modified_date,available_date
0,356425,"G. T. Japan, Inc.",19022128593,"ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STRAWBERRIES (STRAWBERRIES, SUGAR), CORN SYRUP SOLIDS...",40.0,g,1 PIECE,Ice Cream & Frozen Yogurt,LI,2017-11-15,2017-11-15
1,356426,FRESH & EASY,5051379043735,"WATER, SUGAR, TOMATO PASTE, MOLASSES, DISTILLED VINEGAR, CONTAINS 2% OR LESS OF: CORN STARCH, SA...",37.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",LI,2018-04-26,2018-04-26
2,356427,FRESH & EASY,5051379009434,"SUGAR, WATER, DISTILLED VINEGAR, TOMATO PASTE, MOLASSES, MODIFIED CORN STARCH, SALT, PINEAPPLE J...",34.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",LI,2018-04-26,2018-04-26
3,356428,FRESH & EASY,5051379019969,"TOMATO PUREE (WATER, TOMATO PASTE), SUGAR, DISTILLED VINEGAR, MOLASSES, WATER, MODIFIED CORN STA...",35.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",LI,2018-04-26,2018-04-26
4,356429,FRESH & EASY,5051379009526,"SUGAR, DISTILLED VINEGAR, WATER, TOMATO PASTE, HONEY, MOLASSES, MODIFIED CORN STARCH, SALT, CONT...",37.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",LI,2018-04-26,2018-04-26

In [7]:
# checking nulls of food_info
food_info.isnull().sum()

fdc_id                            0
brand_owner                     823
gtin_upc                          0
ingredients                    2534
serving_size                      0
serving_size_unit                 0
household_serving_fulltext     1402
branded_food_category         10118
data_source                       0
modified_date                     0
available_date                    0
dtype: int64

In [8]:
# checking data types of food_info
food_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260370 entries, 0 to 260369
Data columns (total 11 columns):
fdc_id                        260370 non-null int64
brand_owner                   259547 non-null object
gtin_upc                      260370 non-null object
ingredients                   257836 non-null object
serving_size                  260370 non-null float64
serving_size_unit             260370 non-null object
household_serving_fulltext    258968 non-null object
branded_food_category         250252 non-null object
data_source                   260370 non-null object
modified_date                 260370 non-null object
available_date                260370 non-null object
dtypes: float64(1), int64(1), object(9)
memory usage: 21.9+ MB

There is not much in this table to see in terms of statisical summary, since most of the columns are categorical and many of the numerical columns are simply for identification. We can still see what the serving sizes look like, however.

In [9]:
food_info["serving_size"].describe().round(2)

count    260370.00
mean         80.60
std          89.59
min           0.02
25%          28.00
50%          42.00
75%         112.00
max        3750.00
Name: serving_size, dtype: float64

There are some null values in this main dataset, with the most being in the food category section (representing 3.89% of the data). This category may be a useful feature to have during the modeling process, so we should attempt to discover a bit more about these entries. There are also a fair amount missing from the brand owner and ingredients columns, which are a bit more serious. Most of this work is going to center around having and ingredients list and some identifying information about who is making the product, so we will have to pay particular attention to these entries, and identify if values can be reasonably imputed or not.

For the data types, which there was a warning about earlier, there is an odd column, `gtin_upc` that is showing as an object, even though the UPC code should be a number. The other column appear to be in their proper formats so far.

In [10]:
# finding how many brand owners there are
food_info["brand_owner"].nunique()

24145

We can see here that there are over 24,000 brand owners, which gives an average of 10 foods per company. Most likely, the actual distribution of the owners is much different, with a few companies owning the vast majority of foods in this dataset.

### Food Names

In [11]:
# checking the head for what the data looks like
food_names.head()

,fdc_id,data_type,description,food_category_id,publication_date
0,356425,branded_food,MOCHI ICE CREAM BONBONS,NaN,2019-04-01
1,356426,branded_food,CHIPOTLE BARBECUE SAUCE,NaN,2019-04-01
2,356427,branded_food,HOT & SPICY BARBECUE SAUCE,NaN,2019-04-01
3,356428,branded_food,BARBECUE SAUCE,NaN,2019-04-01
4,356429,branded_food,BARBECUE SAUCE,NaN,2019-04-01

In [12]:
# checking nulls of food_names
food_names.isnull().sum()

fdc_id                   0
data_type                0
description              0
food_category_id    260370
publication_date         0
dtype: int64

In [13]:
# checking data types of food_names
food_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260370 entries, 0 to 260369
Data columns (total 5 columns):
fdc_id              260370 non-null int64
data_type           260370 non-null object
description         260370 non-null object
food_category_id    0 non-null float64
publication_date    260370 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 9.9+ MB

The `food_category_id` is completely empty, so we can basically just ignore it. The`food_info` dataframe contains most of the products' category information anyway. Other than that, this dataframe appears to be clean at the first check.

In [14]:
# dropping null col
food_names.drop(columns=["food_category_id"], inplace=True)

In [15]:
food_names["description"].nunique()

161177

Here we can see that there are over 160,000 unique food descriptions, meaning that 60% of the food products in this database have a distinct description. Simple base foods, such as grains, vegetables, or meats, most likely have many entries that are the same, but more complex foods will have more variations in the food descriptions, especially between different brands.

### Nutrient Info

In [16]:
# checking the head for what the data looks like
nutrient_info.head()

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,3383047,356425,1079,0.0,NaN,75,NaN,NaN,NaN,NaN,NaN
1,3383048,356425,1087,50.0,NaN,75,NaN,NaN,NaN,NaN,NaN
2,3383049,356425,1089,0.0,NaN,75,NaN,NaN,NaN,NaN,NaN
3,3383050,356425,1104,0.0,NaN,75,NaN,NaN,NaN,NaN,NaN
4,3383051,356425,1162,3.0,NaN,75,NaN,NaN,NaN,NaN,NaN

In [17]:
# checking nulls in nutrient_info
nutrient_info.isnull().sum()

id                         0
fdc_id                     0
nutrient_id                0
amount                     0
data_points          3531185
derivation_id              0
min                  3531185
max                  3531185
median               3531185
footnote             3531185
min_year_acquired    3531185
dtype: int64

In [18]:
# checking data types of nutrient_info
nutrient_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3531185 entries, 0 to 3531184
Data columns (total 11 columns):
id                   int64
fdc_id               int64
nutrient_id          int64
amount               float64
data_points          float64
derivation_id        int64
min                  float64
max                  float64
median               float64
footnote             float64
min_year_acquired    float64
dtypes: float64(7), int64(4)
memory usage: 296.3 MB

Like with the `food_info` dataframe, there is only one numerical column that is worth looking at, which is the amount of each nutrient in each food. Referencing the supplied data dictionary shows that this column represent the amount of the specified nutrient present in 100g of each of the food products.

In [19]:
nutrient_info["amount"].describe().round(2)

count     3531185.00
mean          154.36
std         40956.04
min             0.00
25%             0.00
50%             3.60
75%            40.00
max      65789473.68
Name: amount, dtype: float64

We have a lot of null values here, with the columns `data_points`, `min`, `max`, `median`, and `footnote` all being completely empty. This does make cleaning up the columns quite easy, since if they contain no information they can be removed, and the remaining columns appear to be in their proper data types, with no other null values.

There is also an interesting value of 65,789,473 as the maximum amount of a nutrient per 100g of food. This seems unlikely to be a true value, so we will have to determine where that value is showing up, and if there are any other values like it.

### Nutrient Names

In [20]:
# checking the head for what the data looks like
nutrient_names.head()

     id                         name unit_name  nutrient_nbr    rank
0  1002                     Nitrogen         G         202.0   500.0
1  1003                      Protein         G         203.0   600.0
2  1004            Total lipid (fat)         G         204.0   800.0
3  1005  Carbohydrate, by difference         G         205.0  1110.0
4  1007                          Ash         G         207.0  1000.0

In [21]:
# checking nulls for nutrient_names
nutrient_names.isnull().sum()

id              0
name            0
unit_name       0
nutrient_nbr    0
rank            1
dtype: int64

In [22]:
nutrient_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 5 columns):
id              227 non-null int64
name            227 non-null object
unit_name       227 non-null object
nutrient_nbr    227 non-null float64
rank            226 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 9.0+ KB

In [23]:
nutrient_names.describe()

                id  nutrient_nbr           rank
count   227.000000    227.000000     226.000000
mean   1286.568282    497.475771   71425.601770
std     280.881417    191.178465  239201.102382
min    1002.000000    202.000000     100.000000
25%    1111.500000    322.500000    7232.500000
50%    1216.000000    503.000000   10650.000000
75%    1305.500000    645.500000   15190.000000
max    2032.000000    861.000000  999999.000000

In [24]:
nutrient_names[nutrient_names["rank"].isnull()]

      id                 name unit_name  nutrient_nbr  rank
23  1072  Carbohydrate, other         G         284.0   NaN

There is one entry where the "rank" is null, which is some form of carbohydrate declaration. Unfortunately, there is no description of this category, and it is currently unclear what this rank may mean, from the odd range of values that it takes.

## Data Cleaning

One of the first cleaning steps we can take is to drop some of the columns in the datasets that were completely empty from the beginning. There is no information to gain from them, and no basis for knowing or imputing any of the values.

In [25]:
# making list of the null columns
null_cols = ["data_points", "min", "max", "median", "footnote", "min_year_acquired"]

# dropping the null cols from df
nutrient_info.drop(columns=null_cols, inplace=True)

# checking df for drop
nutrient_info.head()

        id  fdc_id  nutrient_id  amount  derivation_id
0  3383047  356425         1079     0.0             75
1  3383048  356425         1087    50.0             75
2  3383049  356425         1089     0.0             75
3  3383050  356425         1104     0.0             75
4  3383051  356425         1162     3.0             75

### Duplicate Energy

When previously attempting to combine and pivot the nutrients so that they can be transferred into a final food dataframe, it was noticed that there were duplicate nutrient names preventing the transposition. This duplicate entry needs to be identified and dealt with before the data can be brought together.

In [26]:
# finding duplicated nutrient name
nutrient_names[nutrient_names["name"].duplicated()]

      id    name unit_name  nutrient_nbr   rank
21  1062  Energy        kJ         268.0  400.0

There appears to be a second "energy" entry, which is in kilojoules, instead of kilocalories, which are typical for US foods. This will be further explored in the `nutrient_info`to see how many entries are in kJ.

In [27]:
nutrient_info[nutrient_info["nutrient_id"] == 1062]["amount"]

567629      394.0
1070211     417.0
1373445      64.0
2140241     360.0
2755621     100.0
2814828     517.0
2864502     355.0
3052729     101.0
3052862    2399.0
Name: amount, dtype: float64

We have nine foods using kJ as its energy, instead of kcal. This is an easy fix, as we can simply convert to the proper format. This is a common conversion, as energy is commonly represented as kilojoules outside of the US. By using a reference from the University of Calgary, we can find that 1 kilocalorie is equal to 4.1868 kilojoules<sup>(1)</sup>.

In [28]:
# mapping the conversion 
nutrient_info.loc[nutrient_info["nutrient_id"] == 1062, "amount"] = nutrient_info[
    nutrient_info["nutrient_id"] == 1062]["amount"].map(lambda x: round(x / 4.1868, 2))

In [29]:
# checking for the updated values
nutrient_info[nutrient_info["nutrient_id"] == 1062]

              id  fdc_id  nutrient_id  amount  derivation_id
567629   5858858  398115         1062   94.11             70
1070211  4738741  431609         1062   99.60             70
1373445  4557236  454151         1062   15.29             70
2140241  4899130  510967         1062   85.98             70
2755621  5945416  554830         1062   23.88             70
2814828  4975183  559122         1062  123.48             70
2864502  4892046  562755         1062   84.79             70
3052729  5945425  575761         1062   24.12             70
3052862  5415101  575769         1062  572.99             70

Now that the values have been converted, we can change the `nutrient_id` entries to be in line with the kilocalorie ID. For this, we have to look up the target ID from the `nutrient_names` dataframe.

In [30]:
# checking the id of energies
nutrient_names[nutrient_names["name"] == "Energy"]

      id    name unit_name  nutrient_nbr   rank
5   1008  Energy      KCAL         208.0  300.0
21  1062  Energy        kJ         268.0  400.0

If we can now convert the ID of the kJ entries to be the KCAL ID, we can merge the two dataframes, and the names should sync up with the KCAL name instead.

In [31]:
# checking the count of kJ entries before replacement
nutrient_info[nutrient_info["nutrient_id"] == 1062].count()

id               9
fdc_id           9
nutrient_id      9
amount           9
derivation_id    9
dtype: int64

In [32]:
# repalcing the id numbers
nutrient_info["nutrient_id"].replace(to_replace=1062, value=1008, inplace=True)

In [33]:
# checking the count of kJ entries after replacement
nutrient_info[nutrient_info["nutrient_id"] == 1062].count()

id               0
fdc_id           0
nutrient_id      0
amount           0
derivation_id    0
dtype: int64

In [34]:
nutrient_info[nutrient_info["nutrient_id"] == 1008]["derivation_id"].value_counts()

70    248155
71       476
73        84
72        14
78        13
74         1
Name: derivation_id, dtype: int64

The last step to take is to rename the `id` column on the `nutrient_names` dataframe, so that there is a common column to merge the two tables on.

In [35]:
nutrient_names.rename(axis=1, mapper={"id": "nutrient_id"}, inplace=True)

Now we can merge the dataframes, to have the nutrient amounts attached ato their actual names, instead of IDs.

In [36]:
# merging both dfs in one main nutrients df
nutrients = nutrient_info.merge(nutrient_names, on="nutrient_id")
nutrients.head()

,id,fdc_id,nutrient_id,amount,derivation_id,name,unit_name,nutrient_nbr,rank
0,3383047,356425,1079,0.0,75,"Fiber, total dietary",G,291.0,1200.0
1,3750449,356426,1079,0.0,75,"Fiber, total dietary",G,291.0,1200.0
2,3750441,356427,1079,0.0,75,"Fiber, total dietary",G,291.0,1200.0
3,3750433,356428,1079,0.0,75,"Fiber, total dietary",G,291.0,1200.0
4,3750425,356429,1079,0.0,75,"Fiber, total dietary",G,291.0,1200.0

In [37]:
# checking for proper amount of foods maintained
nutrients["fdc_id"].nunique()

260370

We now have a singular nutrition dataframe that we can bring together with the foods, however, it is not currently in a state where we can easily bring them together, since each nutrient of each food is in a row, giving us over 3.5 million total entries in this database. What what we would like to have is a pivoted version of this, where each row is a unique food product, and the columns are each of the nutrients in that food.

### Nurtient Pivot Table

In [38]:
# making pivot table of nutrients df
nutrients_pivot = nutrients.pivot_table(index = 'fdc_id', columns = 'name', values = 'amount')
nutrients_pivot.head()

name,10:0,12:0,18:2,"18:2 n-6 c,c","18:3 n-3 c,c,c (ALA)",8:0,Acetic acid,Alanine,"Alcohol, ethyl",Arginine,Ash,Aspartic acid,Biotin,Caffeine,"Calcium, Ca","Carbohydrate, by difference","Carbohydrate, other","Carotene, beta","Chlorine, Cl",Cholesterol,"Choline, from phosphotidyl choline","Choline, total","Chromium, Cr","Copper, Cu",Cysteine,Cystine,Energy,Epigallocatechin-3-gallate,"Fatty acids, total monounsaturated","Fatty acids, total polyunsaturated","Fatty acids, total saturated","Fatty acids, total trans","Fiber, insoluble","Fiber, soluble","Fiber, total dietary","Fluoride, F","Folate, DFE","Folate, total",Folic acid,Fructose,Glucose (dextrose),Glutamic acid,Glutamine,Glycine,Histidine,Inositol,Inulin,"Iodine, I","Iron, Fe",Isoleucine,Lactic acid,Lactose,Leucine,Lutein + zeaxanthin,Lysine,"Magnesium, Mg","Manganese, Mn",Methionine,"Molybdenum, Mo",Niacin,Pantothenic acid,Phenylalanine,"Phosphorus, P","Potassium, K",Proline,Protein,Riboflavin,Ribose,"Selenium, Se",Serine,"Sodium, Na",Sorbitol,Starch,"Sugars, added","Sugars, total including NLEA",Taurine,Thiamin,Threonine,Total lipid (fat),Total sugar alcohols,Tryptophan,Tyrosine,Valine,"Vitamin A, IU",Vitamin B-12,Vitamin B-6,"Vitamin C, total ascorbic acid",Vitamin D,Vitamin D (D2 + D3),Vitamin D3 (cholecalciferol),Vitamin E,Vitamin E (alpha-tocopherol),Vitamin E (label entry primarily),Vitamin K (phylloquinone),Water,Xylitol,"Zinc, Zn"
fdc_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
344604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,4.07,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,0.0,0.0,0.00,0.0,0.0,0.0,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179.0,NaN,0.81,NaN,NaN,NaN,NaN,203.0,NaN,NaN,NaN,2.44,NaN,NaN,NaN,0.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,4.07,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,0.0,0.0,0.00,0.0,0.0,0.0,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179.0,NaN,0.81,NaN,NaN,NaN,NaN,203.0,NaN,NaN,NaN,2.44,NaN,NaN,NaN,0.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,NaN,NaN,NaN,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.89,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.21,NaN,NaN,NaN,NaN,67.0,NaN,NaN,NaN,0.00,NaN,NaN,NaN,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,NaN,NaN,NaN,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.89,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.21,NaN,NaN,NaN,NaN,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.68,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,0.00,NaN,NaN,NaN,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.46,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.75,NaN,NaN,NaN,NaN,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.18,NaN,NaN,NaN,NaN,89.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The first thing to notice with this new dataframe is the large amount of null values. Since not every food has each nutrient listed on its label, this is not completely unexpected. However, we do need to find out the extent of the nulls in this new version of the dataset.

In [39]:
nutrients_pivot.isnull().mean().sort_values()

name
Total lipid (fat)                     0.001194
Protein                               0.001728
Carbohydrate, by difference           0.003629
Sodium, Na                            0.006971
Energy                                0.044679
Sugars, total including NLEA          0.059915
Fatty acids, total saturated          0.133537
Cholesterol                           0.148516
Fiber, total dietary                  0.165019
Iron, Fe                              0.171383
Calcium, Ca                           0.174686
Fatty acids, total trans              0.180689
Vitamin C, total ascorbic acid        0.294492
Vitamin A, IU                         0.314917
Potassium, K                          0.746138
Vitamin D                             0.841572
Fatty acids, total monounsaturated    0.861728
Fatty acids, total polyunsaturated    0.861970
Sugars, added                         0.926366
Niacin                                0.935753
Thiamin                               0.937408
Riboflavin                            0.939359
Vitamin B-6                           0.960760
Phosphorus, P                         0.964247
Magnesium, Mg                         0.965987
Vitamin B-12                          0.971275
Zinc, Zn                              0.974152
Folate, total                         0.974302
Pantothenic acid                      0.986792
Fiber, soluble                        0.987218
Fiber, insoluble                      0.988159
Copper, Cu                            0.988766
Manganese, Mn                         0.989661
Folic acid                            0.990521
Vitamin E (label entry primarily)     0.991992
Total sugar alcohols                  0.992430
Water                                 0.993901
Selenium, Se                          0.993978
Ash                                   0.994051
Vitamin K (phylloquinone)             0.994473
Iodine, I                             0.995894
Carbohydrate, other                   0.996102
Vitamin E                             0.999013
Biotin                                0.999259
Caffeine                              0.999397
Molybdenum, Mo                        0.999631
Vitamin E (alpha-tocopherol)          0.999697
Folate, DFE                           0.999716
Xylitol                               0.999731
Chlorine, Cl                          0.999750
Choline, total                        0.999758
Arginine                              0.999796
Threonine                             0.999804
Methionine                            0.999804
Phenylalanine                         0.999804
Tryptophan                            0.999804
Histidine                             0.999804
Lysine                                0.999804
Isoleucine                            0.999804
Valine                                0.999804
Alanine                               0.999808
Serine                                0.999808
Glycine                               0.999808
Proline                               0.999808
Glutamic acid                         0.999812
Aspartic acid                         0.999812
Tyrosine                              0.999812
Leucine                               0.999816
Inositol                              0.999819
Chromium, Cr                          0.999846
Starch                                0.999877
Cysteine                              0.999896
Sorbitol                              0.999904
Cystine                               0.999908
Carotene, beta                        0.999931
Lutein + zeaxanthin                   0.999954
Taurine                               0.999958
Epigallocatechin-3-gallate            0.999969
12:0                                  0.999981
Lactose                               0.999981
Inulin                                0.999981
Fluoride, F                           0.999985
18:3 n-3 c,c,c (ALA)                  0.999985
10:0                                  0.999985
8:0                                   0.999985
18:2                                  0.999988
Alcohol, ethyl                        0.999992
Vitamin D (D2 + D3)                   0.999992
Vitamin D3 (cholecalciferol)          0.999992
Glutamine                             0.999992
Glucose (dextrose)                    0.999992
Fructose                              0.999992
Lactic acid                           0.999996
18:2 n-6 c,c                          0.999996
Ribose                                0.999996
Choline, from phosphotidyl choline    0.999996
Acetic acid                           0.999996
dtype: float64

It appears as though a large percent of these columns are mostly null. This can be explained by the fact that only a small set of nutrients are actually required to be listed on food product labels. By referencing the Code of Federal Regulations Title 21, which covers food for human consumption, we can learn a bit more about how nutrient labels are constructed<sup>(3)</sup>.

There are only a few nutrients that are required to be on nutrition labels:
 - Calories
 - Total fat
 - Cholesterol*
 - Sodium
 - Carbohydrate total
     - Dietary fiber*
     - Total sugars*
     - Added sugars*
 - Protein*
 
 Even within these nutrients, those marked with asterisks have additional caveats where certain foods are not required to list these on the nutrient label if there is no presence of the nutrient, and there are no other claims or declarations made about those nutrients on the packaging. So, many of these null values may actually indicate a value of `0`, but was recorded as null because it was not even present on the label. Taking this into account, we can see why the amount of null values increases sharply outside these core nutrients.
 
 In order to effectively analyze the foods we have, we are going to have to limit the amount of these nutrients we utilize as features. At the same time, we want to still include as much as possible, and there may be ways of estimating some of the missing values using other context clues from the foods. As vitamins and minerals are largely voluntary, they will be excluded (except for sodium). Outside of these, we will take the top 10 nutrients.

In [40]:
# grabbing the top 12 rows
nutrients_pivot.isnull().mean().sort_values().head(12).index

Index(['Total lipid (fat)', 'Protein', 'Carbohydrate, by difference',
       'Sodium, Na', 'Energy', 'Sugars, total including NLEA',
       'Fatty acids, total saturated', 'Cholesterol', 'Fiber, total dietary',
       'Iron, Fe', 'Calcium, Ca', 'Fatty acids, total trans'],
      dtype='object', name='name')

In [41]:
# making list based of top 10 non-vitamin/mineral
nutr_cols = ['Total lipid (fat)', 'Protein', 'Carbohydrate, by difference',
       'Sodium, Na', 'Energy', 'Sugars, total including NLEA',
       'Fatty acids, total saturated', 'Cholesterol', 'Fiber, total dietary',
            'Fatty acids, total trans']

In [42]:
# selecting for desired cols
nutrients_pivot = nutrients_pivot[nutr_cols]

# checking new df
nutrients_pivot.head()

name,Total lipid (fat),Protein,"Carbohydrate, by difference","Sodium, Na",Energy,"Sugars, total including NLEA","Fatty acids, total saturated",Cholesterol,"Fiber, total dietary","Fatty acids, total trans"
fdc_id,,,,,,,,,,
344604,0.41,0.81,4.07,203.0,24.0,2.44,0.00,0.0,0.8,0.0
344605,0.41,0.81,4.07,203.0,24.0,2.44,0.00,0.0,0.8,0.0
344606,2.68,23.21,0.00,67.0,NaN,0.00,0.89,58.0,0.0,0.0
344607,2.68,23.21,0.00,67.0,NaN,NaN,0.89,58.0,0.0,NaN
344608,15.18,18.75,0.00,103.0,NaN,NaN,4.46,89.0,0.0,NaN

In [43]:
# checking info on new df
nutrients_pivot.describe()

name,Total lipid (fat),Protein,"Carbohydrate, by difference","Sodium, Na",Energy,"Sugars, total including NLEA","Fatty acids, total saturated",Cholesterol,"Fiber, total dietary","Fatty acids, total trans"
count,260059.000000,259920.000000,259425.000000,258555.000000,248737.00000,244770.000000,225601.000000,221701.000000,217404.000000,213324.000000
mean,12.184911,6.960145,33.392049,697.876227,267.61764,16.745061,4.759690,40.075633,2.759249,0.035965
std,16.942800,8.334241,29.374018,2909.655998,190.03174,21.604842,7.225741,1143.367691,4.399955,0.518307
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,6.670000,31.000000,88.00000,1.670000,0.000000,0.000000,0.000000,0.000000
50%,4.760000,4.350000,23.330000,250.000000,267.00000,6.670000,1.790000,0.000000,1.400000,0.000000
75%,19.440000,10.000000,60.000000,571.000000,400.00000,25.000000,7.140000,23.000000,3.600000,0.000000
max,100.000000,100.000000,100.000000,100000.000000,7500.00000,100.000000,100.000000,100000.000000,100.000000,53.570000

Now that we have narrowed down our nutrient columns, we seem to have actually taken care of one of the previous issues that was spotted, which were some suspiciously high values for the nutrient amounts. While some of these numbers are still quite high, they are much more reasonable to be the correct values, especially since there are no doubt some very unhealthy foods on this list.

### Merging Dataframes

We now have our final nutrients dataframe, ready to be merged into the actual food products. This would be a good time to also combine the `food_info` and `food_names` dataframes into a master `foods` df, and make any additional changes before making the final combination and cleaning steps.

In [44]:
# attaching food names onto their food IDs
foods = food_info.merge(food_names, on="fdc_id")
foods.head()

,fdc_id,brand_owner,gtin_upc,ingredients,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,data_source,modified_date,available_date,data_type,description,publication_date
0,356425,"G. T. Japan, Inc.",19022128593,"ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STRAWBERRIES (STRAWBERRIES, SUGAR), CORN SYRUP SOLIDS...",40.0,g,1 PIECE,Ice Cream & Frozen Yogurt,LI,2017-11-15,2017-11-15,branded_food,MOCHI ICE CREAM BONBONS,2019-04-01
1,356426,FRESH & EASY,5051379043735,"WATER, SUGAR, TOMATO PASTE, MOLASSES, DISTILLED VINEGAR, CONTAINS 2% OR LESS OF: CORN STARCH, SA...",37.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",LI,2018-04-26,2018-04-26,branded_food,CHIPOTLE BARBECUE SAUCE,2019-04-01
2,356427,FRESH & EASY,5051379009434,"SUGAR, WATER, DISTILLED VINEGAR, TOMATO PASTE, MOLASSES, MODIFIED CORN STARCH, SALT, PINEAPPLE J...",34.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",LI,2018-04-26,2018-04-26,branded_food,HOT & SPICY BARBECUE SAUCE,2019-04-01
3,356428,FRESH & EASY,5051379019969,"TOMATO PUREE (WATER, TOMATO PASTE), SUGAR, DISTILLED VINEGAR, MOLASSES, WATER, MODIFIED CORN STA...",35.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",LI,2018-04-26,2018-04-26,branded_food,BARBECUE SAUCE,2019-04-01
4,356429,FRESH & EASY,5051379009526,"SUGAR, DISTILLED VINEGAR, WATER, TOMATO PASTE, HONEY, MOLASSES, MODIFIED CORN STARCH, SALT, CONT...",37.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",LI,2018-04-26,2018-04-26,branded_food,BARBECUE SAUCE,2019-04-01

In [45]:
# checking different values of data_types col
foods["data_type"].value_counts()

branded_food    260370
Name: data_type, dtype: int64

A few of these columns are not necessary for our research purposes, such as the dates that the labels were added or modified, and the data source. The `data_type` column only has one value for the entire dataset, so it is also not supplying us with any additional information. These extra columns will be dropped for clarity.

In [46]:
drop_cols = ["gtin_upc", "data_source", "modified_date", "available_date", "data_type", "publication_date"]
foods.drop(columns=drop_cols, inplace=True)
foods.head()

,fdc_id,brand_owner,ingredients,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,description
0,356425,"G. T. Japan, Inc.","ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STRAWBERRIES (STRAWBERRIES, SUGAR), CORN SYRUP SOLIDS...",40.0,g,1 PIECE,Ice Cream & Frozen Yogurt,MOCHI ICE CREAM BONBONS
1,356426,FRESH & EASY,"WATER, SUGAR, TOMATO PASTE, MOLASSES, DISTILLED VINEGAR, CONTAINS 2% OR LESS OF: CORN STARCH, SA...",37.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",CHIPOTLE BARBECUE SAUCE
2,356427,FRESH & EASY,"SUGAR, WATER, DISTILLED VINEGAR, TOMATO PASTE, MOLASSES, MODIFIED CORN STARCH, SALT, PINEAPPLE J...",34.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",HOT & SPICY BARBECUE SAUCE
3,356428,FRESH & EASY,"TOMATO PUREE (WATER, TOMATO PASTE), SUGAR, DISTILLED VINEGAR, MOLASSES, WATER, MODIFIED CORN STA...",35.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",BARBECUE SAUCE
4,356429,FRESH & EASY,"SUGAR, DISTILLED VINEGAR, WATER, TOMATO PASTE, HONEY, MOLASSES, MODIFIED CORN STARCH, SALT, CONT...",37.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",BARBECUE SAUCE

This seems like a good time to make our final merge, into one dataframe that we can continue using for the rest of the project. As both separate dataframes already have an `fdc_id` column, this should be a simple merge to make.

In [47]:
foods = foods.merge(nutrients_pivot, left_on="fdc_id", right_on=nutrients_pivot.index)
foods.head()

,fdc_id,brand_owner,ingredients,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,description,Total lipid (fat),Protein,"Carbohydrate, by difference","Sodium, Na",Energy,"Sugars, total including NLEA","Fatty acids, total saturated",Cholesterol,"Fiber, total dietary","Fatty acids, total trans"
0,356425,"G. T. Japan, Inc.","ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STRAWBERRIES (STRAWBERRIES, SUGAR), CORN SYRUP SOLIDS...",40.0,g,1 PIECE,Ice Cream & Frozen Yogurt,MOCHI ICE CREAM BONBONS,6.25,2.5,35.00,75.0,200.0,30.00,3.75,25.0,0.0,0.0
1,356426,FRESH & EASY,"WATER, SUGAR, TOMATO PASTE, MOLASSES, DISTILLED VINEGAR, CONTAINS 2% OR LESS OF: CORN STARCH, SA...",37.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",CHIPOTLE BARBECUE SAUCE,0.00,0.0,43.24,703.0,162.0,37.84,0.00,0.0,0.0,0.0
2,356427,FRESH & EASY,"SUGAR, WATER, DISTILLED VINEGAR, TOMATO PASTE, MOLASSES, MODIFIED CORN STARCH, SALT, PINEAPPLE J...",34.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",HOT & SPICY BARBECUE SAUCE,0.00,0.0,41.18,676.0,176.0,35.29,0.00,0.0,0.0,0.0
3,356428,FRESH & EASY,"TOMATO PUREE (WATER, TOMATO PASTE), SUGAR, DISTILLED VINEGAR, MOLASSES, WATER, MODIFIED CORN STA...",35.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",BARBECUE SAUCE,0.00,0.0,34.29,971.0,143.0,28.57,0.00,0.0,0.0,0.0
4,356429,FRESH & EASY,"SUGAR, DISTILLED VINEGAR, WATER, TOMATO PASTE, HONEY, MOLASSES, MODIFIED CORN STARCH, SALT, CONT...",37.0,g,2 Tbsp,"Ketchup, Mustard, BBQ & Cheese Sauce",BARBECUE SAUCE,0.00,0.0,45.95,757.0,189.0,43.24,0.00,0.0,0.0,0.0

Now that the final dataframe has been brought together, some additional cleaning needs to be performed before it is ready for the next steps.

The first step to take is to convert the column names of the nutrients that were just added. It would be good to make everything lowercase and remove all of the spaces.

In [48]:
# making dict for new column names
nutr_names_dict = {
    'Total lipid (fat)': "fat_total",
    'Protein': "protein",
    'Carbohydrate, by difference': "carbs",
    'Sodium, Na': "sodium",
    'Energy': "energy",
    'Sugars, total including NLEA': "sugars",
    'Fatty acids, total saturated': "fat_sat",
    'Cholesterol': "chol",
    'Fiber, total dietary': "fiber",
    'Fatty acids, total trans': "fat_trans"
}

# renaming the cols with dict
foods.rename(columns=nutr_names_dict, inplace=True)

# reordering columns for clarity
foods = foods[["fdc_id", "brand_owner",
               "branded_food_category",
               "description",
               "ingredients",
               "serving_size",
               "serving_size_unit",
               "household_serving_fulltext",
               "energy",
               "fat_total",
               "fat_sat",
               "fat_trans",
               "chol",
               "protein",
               "carbs",
               "fiber",
               "sugars",
               "sodium",
              ]]

# checking new names and order
foods.head()

,fdc_id,brand_owner,branded_food_category,description,ingredients,serving_size,serving_size_unit,household_serving_fulltext,energy,fat_total,fat_sat,fat_trans,chol,protein,carbs,fiber,sugars,sodium
0,356425,"G. T. Japan, Inc.",Ice Cream & Frozen Yogurt,MOCHI ICE CREAM BONBONS,"ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STRAWBERRIES (STRAWBERRIES, SUGAR), CORN SYRUP SOLIDS...",40.0,g,1 PIECE,200.0,6.25,3.75,0.0,25.0,2.5,35.00,0.0,30.00,75.0
1,356426,FRESH & EASY,"Ketchup, Mustard, BBQ & Cheese Sauce",CHIPOTLE BARBECUE SAUCE,"WATER, SUGAR, TOMATO PASTE, MOLASSES, DISTILLED VINEGAR, CONTAINS 2% OR LESS OF: CORN STARCH, SA...",37.0,g,2 Tbsp,162.0,0.00,0.00,0.0,0.0,0.0,43.24,0.0,37.84,703.0
2,356427,FRESH & EASY,"Ketchup, Mustard, BBQ & Cheese Sauce",HOT & SPICY BARBECUE SAUCE,"SUGAR, WATER, DISTILLED VINEGAR, TOMATO PASTE, MOLASSES, MODIFIED CORN STARCH, SALT, PINEAPPLE J...",34.0,g,2 Tbsp,176.0,0.00,0.00,0.0,0.0,0.0,41.18,0.0,35.29,676.0
3,356428,FRESH & EASY,"Ketchup, Mustard, BBQ & Cheese Sauce",BARBECUE SAUCE,"TOMATO PUREE (WATER, TOMATO PASTE), SUGAR, DISTILLED VINEGAR, MOLASSES, WATER, MODIFIED CORN STA...",35.0,g,2 Tbsp,143.0,0.00,0.00,0.0,0.0,0.0,34.29,0.0,28.57,971.0
4,356429,FRESH & EASY,"Ketchup, Mustard, BBQ & Cheese Sauce",BARBECUE SAUCE,"SUGAR, DISTILLED VINEGAR, WATER, TOMATO PASTE, HONEY, MOLASSES, MODIFIED CORN STARCH, SALT, CONT...",37.0,g,2 Tbsp,189.0,0.00,0.00,0.0,0.0,0.0,45.95,0.0,43.24,757.0

The dataframe is now starting to look like something we can really work with. Since our target is going to be the serving size of the food product, we want to make sure we have a good idea of what this column looks like. We should see what kinds of entries there are in the `serving_size_unit` column to see the different types of values there are.

### Isolating Serving Types

In [49]:
foods["serving_size_unit"].value_counts(normalize=True)

g     0.868622
ml    0.131378
Name: serving_size_unit, dtype: float64

We have two different values here, grams and milliliters. Since these are two different types of measurements, mass and volume, we should really concentrate our modeling on just one subset of these units. As the large majority of entries are reported in grams, we will isolate these, and not use the foods reported in mL. 

It is important to note that this may be reducing the varieties of foods being analyzed, which may include products like beverages or certain sauces, liquids that would be reported in volume rather than weight. Unfortunately, it would be extremely difficult to try to build a model that could differentiate between these, and predict values in different scales.

In [50]:
# isolating foods with weight servings
foods = foods[foods["serving_size_unit"] == "g"]

# removing useless unit col
foods.drop(columns="serving_size_unit", inplace=True)

# checking df
foods.head()

,fdc_id,brand_owner,branded_food_category,description,ingredients,serving_size,household_serving_fulltext,energy,fat_total,fat_sat,fat_trans,chol,protein,carbs,fiber,sugars,sodium
0,356425,"G. T. Japan, Inc.",Ice Cream & Frozen Yogurt,MOCHI ICE CREAM BONBONS,"ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STRAWBERRIES (STRAWBERRIES, SUGAR), CORN SYRUP SOLIDS...",40.0,1 PIECE,200.0,6.25,3.75,0.0,25.0,2.5,35.00,0.0,30.00,75.0
1,356426,FRESH & EASY,"Ketchup, Mustard, BBQ & Cheese Sauce",CHIPOTLE BARBECUE SAUCE,"WATER, SUGAR, TOMATO PASTE, MOLASSES, DISTILLED VINEGAR, CONTAINS 2% OR LESS OF: CORN STARCH, SA...",37.0,2 Tbsp,162.0,0.00,0.00,0.0,0.0,0.0,43.24,0.0,37.84,703.0
2,356427,FRESH & EASY,"Ketchup, Mustard, BBQ & Cheese Sauce",HOT & SPICY BARBECUE SAUCE,"SUGAR, WATER, DISTILLED VINEGAR, TOMATO PASTE, MOLASSES, MODIFIED CORN STARCH, SALT, PINEAPPLE J...",34.0,2 Tbsp,176.0,0.00,0.00,0.0,0.0,0.0,41.18,0.0,35.29,676.0
3,356428,FRESH & EASY,"Ketchup, Mustard, BBQ & Cheese Sauce",BARBECUE SAUCE,"TOMATO PUREE (WATER, TOMATO PASTE), SUGAR, DISTILLED VINEGAR, MOLASSES, WATER, MODIFIED CORN STA...",35.0,2 Tbsp,143.0,0.00,0.00,0.0,0.0,0.0,34.29,0.0,28.57,971.0
4,356429,FRESH & EASY,"Ketchup, Mustard, BBQ & Cheese Sauce",BARBECUE SAUCE,"SUGAR, DISTILLED VINEGAR, WATER, TOMATO PASTE, HONEY, MOLASSES, MODIFIED CORN STARCH, SALT, CONT...",37.0,2 Tbsp,189.0,0.00,0.00,0.0,0.0,0.0,45.95,0.0,43.24,757.0

This would be a good point to tackle some of the remaining null values in the dataset.

In [51]:
# refreshing ourselves on nulls
foods.isnull().sum()

fdc_id                            0
brand_owner                     810
branded_food_category          8638
description                       0
ingredients                    2014
serving_size                      0
household_serving_fulltext     1104
energy                        10082
fat_total                       245
fat_sat                       19419
fat_trans                     30365
chol                          22783
protein                         334
carbs                           897
fiber                         25472
sugars                        11732
sodium                         1614
dtype: int64

There are still a fair amount of null values to deal with here. With the goal of this project, some of these are more relevant than others. For instance, having missing nutrients like `energy` are important because calories are a very important aspect of a food. There are also just under 1% of the `ingredients` column missing. In the first case, there are actually ways of dealing with some of these null nutrient values. However, it will be extremely difficult, bordering on impossible, to effectively impute the categorical and string values of the food category or ingredients lists, outside of researching each value individually. Considering the limited time frame of this project, this cannot be done, so some of these values may need to be dropped.

### Dropping null strings

In [52]:
foods[foods["ingredients"].isnull()].head()

,fdc_id,brand_owner,branded_food_category,description,ingredients,serving_size,household_serving_fulltext,energy,fat_total,fat_sat,fat_trans,chol,protein,carbs,fiber,sugars,sodium
818,357243,AS DE OROZ,Vegetable and Lentil Mixes,FRIJOL NEGRO SMALL BLACK BEANS,NaN,36.0,0.25 cup,125.0,0.00,0.00,NaN,0.0,22.22,63.89,44.4,2.78,69.0
1625,358046,"Rocky Mountain Natural Meats, Inc.",Other Meats,PREMIUM GROUND BISON,NaN,113.0,4 ONZ,168.0,9.73,3.54,NaN,53.0,20.35,0.00,0.0,0.00,53.0
1910,358331,"Wal-Mart Stores, Inc.",Butter & Spread,SHORTENING,NaN,11.0,1 Tbsp,909.0,100.00,40.91,4.55,91.0,0.00,0.00,0.0,0.00,0.0
2061,358481,Moonlight Packing Corporation,Pre-Packaged Fruit & Vegetables,"MOONLIGHT, PREMIUM CALIFORNIA FRUIT LEMONS",NaN,58.0,1 MEDIUM LEMON,26.0,0.00,0.00,NaN,0.0,0.00,8.62,3.4,3.45,0.0
2382,360610,WEIS,"Poultry, Chicken & Turkey","WEIS, CHICKEN WINGS",NaN,112.0,4 ONZ,223.0,16.07,4.46,0.00,76.0,18.75,0.00,0.0,0.00,71.0

Some string entries, such as the branded food category and ingredients list, could potentially be imputed. In some cases, we have seen entries where the product appears to be a single base food, such as a meat, or an oil/fat. However, even foods such as these may contain other ingredients, even in small amounts. Without the ability to go though each food product and ensure there are no other ingredients, we cannot trust these entries, so they should be dropped.

In [53]:
#dropping foods with missing categories and ingredients
foods = foods.dropna(subset=["branded_food_category", "ingredients"])

In [54]:
# checking new null values
foods.isnull().sum()

fdc_id                            0
brand_owner                      18
branded_food_category             0
description                       0
ingredients                       0
serving_size                      0
household_serving_fulltext       87
energy                         1798
fat_total                       206
fat_sat                       18776
fat_trans                     28403
chol                          21108
protein                         283
carbs                           156
fiber                         24134
sugars                        11110
sodium                          871
dtype: int64

We have now reduced the amount of other null values that need to be dealt with. We can move on the the nutrition entries, where we have a few more tools at our disposal in terms of imputation.

### Calculating Energy

From our null count above, we saw nearly 2000 null values in the `energy` column, meaning the calorie count is missing. Fortunately, there is an easy way to calculate calories from the surrounding nutrient context. With some reserach, it can be found that the calories from any food come from three major macronutrient groups: fat, carbohydrates, and protein. Fats supply 9 calories/gram, while carbohydrates and protein both give 4 calories/gram<sup>(4)</sup>. Therefore, we can use a simple mathematical calculation to fill in the actual calories.

In [55]:
# checking starting nulls for energy
foods["energy"].isnull().sum()

1798

In [56]:
# making new col with the calc
foods["null_energy"] = (foods["fat_total"] * 9) + (foods["carbs"] * 4) + (foods["protein"] * 4)

# checking for new col
foods.head()

,fdc_id,brand_owner,branded_food_category,description,ingredients,serving_size,household_serving_fulltext,energy,fat_total,fat_sat,fat_trans,chol,protein,carbs,fiber,sugars,sodium,null_energy
0,356425,"G. T. Japan, Inc.",Ice Cream & Frozen Yogurt,MOCHI ICE CREAM BONBONS,"ICE CREAM INGREDIENTS: MILK, CREAM, SUGAR, STRAWBERRIES (STRAWBERRIES, SUGAR), CORN SYRUP SOLIDS...",40.0,1 PIECE,200.0,6.25,3.75,0.0,25.0,2.5,35.00,0.0,30.00,75.0,206.25
1,356426,FRESH & EASY,"Ketchup, Mustard, BBQ & Cheese Sauce",CHIPOTLE BARBECUE SAUCE,"WATER, SUGAR, TOMATO PASTE, MOLASSES, DISTILLED VINEGAR, CONTAINS 2% OR LESS OF: CORN STARCH, SA...",37.0,2 Tbsp,162.0,0.00,0.00,0.0,0.0,0.0,43.24,0.0,37.84,703.0,172.96
2,356427,FRESH & EASY,"Ketchup, Mustard, BBQ & Cheese Sauce",HOT & SPICY BARBECUE SAUCE,"SUGAR, WATER, DISTILLED VINEGAR, TOMATO PASTE, MOLASSES, MODIFIED CORN STARCH, SALT, PINEAPPLE J...",34.0,2 Tbsp,176.0,0.00,0.00,0.0,0.0,0.0,41.18,0.0,35.29,676.0,164.72
3,356428,FRESH & EASY,"Ketchup, Mustard, BBQ & Cheese Sauce",BARBECUE SAUCE,"TOMATO PUREE (WATER, TOMATO PASTE), SUGAR, DISTILLED VINEGAR, MOLASSES, WATER, MODIFIED CORN STA...",35.0,2 Tbsp,143.0,0.00,0.00,0.0,0.0,0.0,34.29,0.0,28.57,971.0,137.16
4,356429,FRESH & EASY,"Ketchup, Mustard, BBQ & Cheese Sauce",BARBECUE SAUCE,"SUGAR, DISTILLED VINEGAR, WATER, TOMATO PASTE, HONEY, MOLASSES, MODIFIED CORN STARCH, SALT, CONT...",37.0,2 Tbsp,189.0,0.00,0.00,0.0,0.0,0.0,45.95,0.0,43.24,757.0,183.80

We can see from the head of the dataframe that this calculated value isn't perfectly aligning with some of the entries that did already have a calorie count listed. This may be due the specific lab methods used to determine the calorie content, since these values are not typically calculated the way that we have done here

In [57]:
# inserting new val into null energy spots
foods.loc[foods["energy"].isnull(), "energy"] = foods.loc[foods["energy"].isnull(), "null_energy"]

In [58]:
# rechecking the sum of null energies
foods["energy"].isnull().sum()

14

In [59]:
# removing the extra col
foods.drop(columns="null_energy", inplace=True)

We have now managed to get reduce our null energy values to below 15 entries, down from nearly 1800, just by using a simple calculation. The remaining values must have nulls in one or more of the macronutrient columns (fat, proetin, carbs). Some of the remaining entries may have many null values in their nutrients, potentially making them unreliable entries, and should most likely be dropped due to their lack of providing good information for the model.

### Cleaning Nutrients

We have a lot of entries in the saturated and trans fat columns that are null. Since there are many foods that have 0g fat, we can conclude that those foods would also have 0g of the sub-categories of fat.

This logic will also follow for sugars and fiber, which are subsets of carbohydrates.

In [60]:
# setting saturated fats to 0 if total fat is 0
foods.loc[foods["fat_total"] == 0, "fat_sat"] = foods[foods["fat_total"] == 0]["fat_sat"].map(lambda x: 0)

In [61]:
# repeating for trans fat
foods.loc[foods["fat_total"] == 0, "fat_trans"] = foods[foods["fat_total"] == 0]["fat_trans"].map(lambda x: 0)

In [62]:
# setting fiber to 0 if total carbs is 0
foods.loc[foods["carbs"] == 0, "fiber"] = foods[foods["carbs"] == 0]["fiber"].map(lambda x: 0)

In [63]:
# repeating for sugar
foods.loc[foods["carbs"] == 0, "sugars"] = foods[foods["carbs"] == 0]["sugars"].map(lambda x: 0)

In [64]:
foods[(foods["fat_sat"].isnull()) & (foods["fat_trans"].isnull())].shape

(1558, 17)

In [65]:
foods.shape

(215511, 17)

In [66]:
foods.isnull().sum()

fdc_id                            0
brand_owner                      18
branded_food_category             0
description                       0
ingredients                       0
serving_size                      0
household_serving_fulltext       87
energy                           14
fat_total                       206
fat_sat                        1804
fat_trans                      9684
chol                          21108
protein                         283
carbs                           156
fiber                         16953
sugars                         4733
sodium                          871
dtype: int64

This has greatly reduced the number of null values across our nutrient columns. However, many null values remain for the four nutrients that were just dealt with. Since these columns can be voluntary, the manufacturers may not have the actual information of these specific nutrients. Since there is now no way for use to know what the values of these should be, we should remove them from our dataset. 

It is important to note that this may have unexpected impacts on the final analysis and modeling of this data, as this will be removing foods that may have informative values in these columns, but are not fully documented in this dataset. However, this step is being taken so that we can build a model using the most amount of nutritional information available.

In [67]:
# dropping remaining nulls for sugar, fiber, sat fat, and trans fat
foods.dropna(subset=["sugars", "fiber", "fat_sat", "fat_trans"], inplace=True)

The last major nutrient that has a large amount of null values is cholesterol. Like with some of the other values, foods are not necessarily required to list it on their label, if the value is zero or close to it, and it meets certain other labeling requirements. The difference with this column compared to some of the others that we have dealt with is that there really are no contextual clues as to the true value of this nutrient. Because of this, we will rely completely on the FDA guidelines, and are going to blanket impute the null values in this column with 0.

In [68]:
# making null chol into 0
foods.loc[foods["chol"].isnull(), "chol"] = foods[foods["chol"].isnull()]["chol"].map(lambda x: 0)

Now we should do a re-check on our null values

In [69]:
foods.isnull().sum()

fdc_id                          0
brand_owner                    14
branded_food_category           0
description                     0
ingredients                     0
serving_size                    0
household_serving_fulltext     76
energy                          2
fat_total                     115
fat_sat                         0
fat_trans                       0
chol                            0
protein                       123
carbs                          24
fiber                           0
sugars                          0
sodium                        450
dtype: int64

In [70]:
foods[foods["energy"].isnull()]

,fdc_id,brand_owner,branded_food_category,description,ingredients,serving_size,household_serving_fulltext,energy,fat_total,fat_sat,fat_trans,chol,protein,carbs,fiber,sugars,sodium
45904,402252,RFM CORPORATION,"Cake, Cookie & Cupcake Mixes","WHITE KING, BIBINGKA RICE CAKE MIX","RICE FLOUR, BROMATE-FREE WHEAT FLOUR, DEXTROSE, SUGAR, LODIZED SALT, BAKING POWDER AS LEAVENING ...",30.0,30 GRM,NaN,0.0,0.0,0.0,0.0,NaN,83.33,3.3,30.0,1367.0
252828,598081,EMPERAFDOR,Cookies & Biscuits,SABOR VAINILLA,"WHEAT FLOUR, SUGAR, VEGETABLE FAT (CONTAINS TBHQ ANTIOXIDANTS, ASCORBYL PALMITATE, TOCOPHEROLS),...",30.0,3 COOKIES | APPROX.,NaN,NaN,10.0,0.0,17.0,6.67,66.67,3.3,30.0,320.0

The remaining null values now represent such a small fraction of our dataset, that they can simply be dropped. We should also get a new idea of the information we checked at the beginning of this process.

In [71]:
# drop remaining nulls
foods.dropna(inplace=True)

In [72]:
foods.describe()

,fdc_id,serving_size,energy,fat_total,fat_sat,fat_trans,chol,protein,carbs,fiber,sugars,sodium
count,189147.000000,189147.000000,189147.000000,189147.000000,189147.000000,189147.000000,189147.000000,189147.000000,189147.000000,189147.000000,189147.000000,189147.000000
mean,476888.887516,63.946456,294.683967,13.613851,4.803111,0.036883,34.704775,8.174795,35.720492,2.793492,15.377135,759.669717
std,74038.173441,58.926462,179.937729,16.142785,7.058852,0.520516,1010.012360,8.514758,28.331885,4.260724,19.934000,3148.396012
min,344609.000000,0.015000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,409865.500000,28.000000,130.000000,0.770000,0.000000,0.000000,0.000000,2.380000,8.820000,0.000000,1.180000,67.000000
50%,473704.000000,40.000000,308.000000,8.240000,1.790000,0.000000,0.000000,6.000000,29.250000,1.600000,5.000000,314.000000
75%,541584.000000,85.000000,423.000000,21.430000,7.140000,0.000000,22.000000,11.250000,60.710000,3.600000,24.710000,591.000000
max,604972.000000,2091.000000,7500.000000,100.000000,100.000000,53.570000,100000.000000,100.000000,100.000000,100.000000,100.000000,100000.000000

Looking through this summary, there are some entries that stand out. The first, `serving_size` has a maximum entry of 2091g, which converts into over 4 pounds. This is extremely unlikely, so we should identify where this is occurring.

In [73]:
foods[foods["serving_size"] >= 1000]

,fdc_id,brand_owner,branded_food_category,description,ingredients,serving_size,household_serving_fulltext,energy,fat_total,fat_sat,fat_trans,chol,protein,carbs,fiber,sugars,sodium
83936,437001,Disk Technologies Corporation,Other Frozen Desserts,"SWEET ACTION, ICE CREAM, VANILLA BEAN","ORGANIC SOY MILK, ORGANIC COCONUT CREAM (COCONUT, WATER, GUAR GUM), EVAPORATED CANE JUICE, VANIL...",2091.0,4 ONZ,11.0,0.67,0.57,0.00,0.0,0.14,1.63,0.1,1.05,3.0
84112,437177,Sculatti I.F.S.,Ice Cream & Frozen Yogurt,"SWEET ACTION ICE CREAM, ICE CREAM, VEGAN COFFEE, DOUGHNUTS","ORGANIC SOY MILK, ORGANIC COCONUT CREAM (COCONUT, WATER, GUAR GUM), EVAPORATED CANE JUICE, VEGAN...",2091.0,4 ONZ,11.0,0.67,0.57,0.00,0.0,0.14,1.82,0.1,1.10,11.0
84172,437237,Reese Orchards,Ice Cream & Frozen Yogurt,"SWEET ACTION, ICE CREAM, VEGAN CINNAMON ROLL","ORGANIC SOY MILK, ORGANIC COCONUT CREAM (COCONUT, WATER, GUAR GUM), EVAPORATED CANE JUICE, BROWN...",2091.0,4 ONZ,16.0,0.81,0.62,0.00,0.0,0.14,2.58,0.1,1.82,12.0
98879,451944,TEXAS RED,"Seasoning Mixes, Salts, Marinades & Tenderizers","TEXAS RED, MESQUITE BAR-B-QUE RUB","SUGAR, SALT, CHILI POWDER (CHILI POWDERS, ASPICES, SALT, GARLIC POWDER, SILICON DIOXIDE, ETHOXYQ...",1000.0,2 Tbsp,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,7.0
99636,452701,Disk Technologies Corporation,Other Frozen Desserts,"SWEET ACTION, ICE CREAM, VEGAN MINT CHIP","ORGANIC SOY MILK, ORGANIC COCONUT CREAM (COCONUT, WATER, GUAR GUM), EVEPORATED CANE JUICE, CHOCO...",2091.0,4 ONZ,13.0,0.77,0.62,0.00,0.0,0.14,1.87,0.1,1.15,11.0
99765,452830,Sculatti I.F.S.,Ice Cream & Frozen Yogurt,"SWEET ACTION, ICE CREAM, VEGAN COOKIES + CREAM","ORGANIC SOY MILK, ORGANIC COCONUT CREAM (COCONUT, WATER, GUAR GUM), EVAPORATED CANE JUICE, CHOCO...",2091.0,4 ONZ,12.0,0.72,0.57,0.00,0.0,0.14,1.87,0.1,1.10,11.0
99766,452831,Sculatti I.F.S.,Other Frozen Desserts,"SWEET ACTION, ICE CREAM, VEGAN STRAWBERRY","ORGANIC SOY MILK, ORGANIC COCONUT CREAM (COCONUT, WATER, GUAR GUM), STRAWBERRIES, EVAPORATED CAN...",2091.0,4 ONZ,11.0,0.57,0.48,0.00,0.0,0.14,1.82,0.1,1.24,9.0
99767,452832,Sculatti I.F.S.,Ice Cream & Frozen Yogurt,"SWEET ACTION ICE CREAM, ICE CREAM, VEGAN COCONUT FUDGE","ORGANIC SOY MILK, ORGANIC COCONUT CREAM (COCONUT, WATER, GUAR GUM), EVAPORATED CANE JUICE, ALMON...",2091.0,4 ONZ,12.0,0.77,0.57,0.00,0.0,0.19,1.82,0.1,1.10,11.0
106558,459623,Citadel Enterprises Inc.,Canned Vegetables,DICED POTATOES,"POTATOES, WATER, SALT, CALCIUM CHLORIDE, DISODIUM EDTA",1262.0,0.5 cup,4.0,0.00,0.00,0.00,0.0,0.08,0.87,0.1,0.00,22.0
240456,585947,"Kitchens Of The Oceans, Inc.",Frozen Dinners & Entrees,"SHORELINE FEAST, MUSSELS, CLAMS, SHRIMP, SAUSAGE, AND VEGGIES IN A FLAVORFUL BROTH","COOKED MUSSELS, CORN ON THE COB, RED POTATOES, RAW SHRIMP, CLAMS, ITALIAN SAUSAGE (PORK, WATER, ...",1814.0,64 ONZ,37.0,1.60,0.72,0.03,10.0,2.37,3.47,0.4,0.55,72.0

There are only a handful of entries with servings over 1000g, so we can spend the time to determine if these are real. Doing some research into the "Sweet Action" ice cream products, we have determined that the 4 ONZ household serving size roughly should translate into about 85g of ice cream, which appears to be a common serving for this brand<sup>(5)</sup>. We can adjust these values accordingly. Since these are the only products with serving sizes over 2000, we can isolate them this way.

In [74]:
# changing sweet action serving sizes
foods.loc[foods["serving_size"] > 2000,
          "serving_size"] = foods[foods["serving_size"] > 2000]["serving_size"].map(lambda x: 85)

For the remaining three entries, the frozen "Shoreline Feast" was determined be showing the weight of the full package, which is approximately 5 servings, so this value will be reduced to 1/5 of its original value<sup>(6)</sup>, and the only other result found for the diced potatoes was the source of this data, and it will be dropped as an extremely unlikely serving size for diced potatoes. The mesquite barbecue rub could not be located for the true serving size, though the nutrition facts are somewhat suspect. With sugar and salt being the top two ingredients, it does not make sense that 2 tablespoons of this rub would have 0g of sugar and salt in it. As this is an unreliable entry, it will be dropped as well.

In [75]:
# changing seafood feast serving size
foods.loc[240456, "serving_size"] = foods.loc[240456, "serving_size"] / 5

In [76]:
# removing potatoes and bbq entries
foods.drop([106558, 98879], inplace=True)

In [77]:
# rechecking serving sizes
foods.describe()

,fdc_id,serving_size,energy,fat_total,fat_sat,fat_trans,chol,protein,carbs,fiber,sugars,sodium
count,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000
mean,476889.110682,63.853262,294.687062,13.613995,4.803161,0.036883,34.705142,8.174881,35.720865,2.793521,15.377298,759.677597
std,74038.532017,57.379124,179.936163,16.142810,7.058872,0.520518,1010.017693,8.514762,28.331802,4.260737,19.934042,3148.411725
min,344609.000000,0.015000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,409865.000000,28.000000,130.000000,0.770000,0.000000,0.000000,0.000000,2.380000,8.820000,0.000000,1.180000,67.000000
50%,473705.000000,40.000000,308.000000,8.240000,1.790000,0.000000,0.000000,6.000000,29.250000,1.600000,5.000000,314.000000
75%,541585.000000,85.000000,423.000000,21.430000,7.140000,0.000000,22.000000,11.250000,60.710000,3.600000,24.710000,591.000000
max,604972.000000,907.185000,7500.000000,100.000000,100.000000,53.570000,100000.000000,100.000000,100.000000,100.000000,100.000000,100000.000000

The next entry that looks odd is the `energy` column, which has a maximum calorie count of 7500. This also seems unlikely, as it amounts to 2-3 days worth of recommended calories, supposedly within 100g of some food. We should take a closer look at this.

In [78]:
# checking for very high calorie foods
foods[foods["energy"] > 2000]

,fdc_id,brand_owner,branded_food_category,description,ingredients,serving_size,household_serving_fulltext,energy,fat_total,fat_sat,fat_trans,chol,protein,carbs,fiber,sugars,sodium
52027,408264,TAPATIO,"Seasoning Mixes, Salts, Marinades & Tenderizers",POWDER SPICE PACKETS,"SALT, SODIUM DIACETATE, SPICES, DEHYDRATED GARLIC, EXTRACTIVES OF PAPRIKA AND ANNATTO (COLOR), C...",0.7,1/4 tsp,2857.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,15714.0
160702,513363,"Waymouth Farms, Inc.","Popcorn, Peanuts, Seeds & Related Snacks",ORGANIC ROASTED & SALTED CASHEWS,"ORGANIC CASHEWS, ORGANIC SUNFLOWER OIL, SALT.",30.0,0.25 cup,2367.0,46.67,10.0,0.0,0.0,16.67,30.0,3.3,6.67,350.0
253681,598934,NOT A BRANDED ITEM,Herbs & Spices,CHILLI POWDER,RED CHILI POWDER,5.0,5 GRM,7500.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0
258984,604237,RILEY'S,"Seasoning Mixes, Salts, Marinades & Tenderizers","GARLIC & PEPPER SEASONING, PREMIUM 100% PURE SPICES, GARLIC & PEPPER","SALT, PEPPER, DEHYDRATED GARLIC, MONOSODIUM, GLUTAMATE, CITRIC ACID, SOYBEAN OIL, TURMERIC EXTRA...",0.6,1/4 tsp,2500.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,30000.0

As with the serving sizes, there are very few entries with high calorie counts, so we are able to individually verify these.

The chilli powder is unbranded, but a quick search relveals that a typical calorie value for this type of spice is about 282 calories<sup>(7)</sup>.

In [79]:
# changing chilli powder calories
foods.loc[253681, "energy"] = 282

In [80]:
# finding other Waymouth Farms foods
foods[(foods["brand_owner"] == "Waymouth Farms, Inc.") & foods["description"].str.contains("CASHEW")]

,fdc_id,brand_owner,branded_food_category,description,ingredients,serving_size,household_serving_fulltext,energy,fat_total,fat_sat,fat_trans,chol,protein,carbs,fiber,sugars,sodium
17807,376011,"Waymouth Farms, Inc.","Popcorn, Peanuts, Seeds & Related Snacks","GOOD SENSE, HONEY ROASTED CASHEWS","CASHEWS, SUCROSE, VEGETABLE OIL (CANOLA, SUNFLOWER AND/OR SOYBEAN), WHEAT STARCH, MALTODEXTRIN, ...",30.0,0.25 cup,567.0,43.33,8.33,0.0,0.0,13.33,36.67,3.3,10.00,317.0
17808,376012,"Waymouth Farms, Inc.","Popcorn, Peanuts, Seeds & Related Snacks","GOOD SENSE, ROASTED NO SALT CASHEWS","CASHEWS, VEGETABLE OIL (CANOLA, SUNFLOWER AND/OR SOYBEAN).",30.0,0.25 cup,567.0,46.67,10.00,0.0,0.0,16.67,30.00,3.3,6.67,17.0
62680,415745,"Waymouth Farms, Inc.","Popcorn, Peanuts, Seeds & Related Snacks",ROASTED & SALTED CASHEWS,"CASHEWS, VEGETABLE OIL (CANOLA, SUNFLOWER AND/OR SOYBEAN), SALT.",30.0,0.25 cup,567.0,46.67,10.00,0.0,0.0,16.67,30.00,3.3,6.67,350.0
72748,425813,"Waymouth Farms, Inc.","Popcorn, Peanuts, Seeds & Related Snacks","GOOD SENSE, TRAIL MIX, SWEET 'N SALTY CHOCOLATE CARAMEL CASHEW MIX","MILK CHOCOLATE CANDIES [MILK CHOCOLATE (SUGAR, COCOA BUTTER, CHOCOLATE LIQUOR, WHOLE MILK POWDER...",30.0,0.25 cup,500.0,33.33,11.67,0.0,0.0,10.00,50.00,3.3,36.67,200.0
160455,513116,"Waymouth Farms, Inc.","Popcorn, Peanuts, Seeds & Related Snacks",ROASTED SALTED CASHEWS,"CASHEWS, HIGH OLEIC CANOLA OIL, SALT.",30.0,0.25 cup,567.0,46.67,8.33,0.0,0.0,16.67,26.67,3.3,6.67,367.0
160702,513363,"Waymouth Farms, Inc.","Popcorn, Peanuts, Seeds & Related Snacks",ORGANIC ROASTED & SALTED CASHEWS,"ORGANIC CASHEWS, ORGANIC SUNFLOWER OIL, SALT.",30.0,0.25 cup,2367.0,46.67,10.00,0.0,0.0,16.67,30.00,3.3,6.67,350.0
212844,564133,"Waymouth Farms, Inc.","Popcorn, Peanuts, Seeds & Related Snacks",CASHEWS,"CASHEWS, HIGH OLEIC CANOLA AND/OR SUNFLOWER OIL, SEA SALT.",30.0,0.25 cup,567.0,46.67,8.33,0.0,0.0,16.67,26.67,3.3,6.67,400.0

For the Waymouth cashews, we were able to locate other cashew products from the same manufacturer, and can use the calories from the other roasted and salted cashews (non-organic).

In [81]:
# setting correct cashew calories
foods.loc[160702, "energy"] = 567

The Tapatio spice packets were researched, and found to actually have 20 calories per standard serving of 0.25 teaspoons, which is listed in the entry as being 0.7g. Using the factor of 20 cal/0.7g, we actually do find that 100g would give 2857 calories, so we can keep this entry.

The nutrition information for the Riley's spice blend was not located through research, but considering it is a similar type of spice blend to the Tapatio spices, and has similar values for the serving size and calories, it is likely that they are in fact very similar, so this entry will also be maintained.

In [82]:
foods[foods["energy"] > 2000]

,fdc_id,brand_owner,branded_food_category,description,ingredients,serving_size,household_serving_fulltext,energy,fat_total,fat_sat,fat_trans,chol,protein,carbs,fiber,sugars,sodium
52027,408264,TAPATIO,"Seasoning Mixes, Salts, Marinades & Tenderizers",POWDER SPICE PACKETS,"SALT, SODIUM DIACETATE, SPICES, DEHYDRATED GARLIC, EXTRACTIVES OF PAPRIKA AND ANNATTO (COLOR), C...",0.7,1/4 tsp,2857.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15714.0
258984,604237,RILEY'S,"Seasoning Mixes, Salts, Marinades & Tenderizers","GARLIC & PEPPER SEASONING, PREMIUM 100% PURE SPICES, GARLIC & PEPPER","SALT, PEPPER, DEHYDRATED GARLIC, MONOSODIUM, GLUTAMATE, CITRIC ACID, SOYBEAN OIL, TURMERIC EXTRA...",0.6,1/4 tsp,2500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30000.0

Some of the other interesting values in the summary statistics were cholesterol and sodium values maxing out at 100,000, but with these nutrients being measured in milligrams, the numbers are not actually out of place, as the products could easily be a pure fat or salt.

After this step, our cleaning should be complete, for now. We may find more trouble areas as we perform more of the visual analysis, and take further steps, but this seems to be a good breaking point for this notebook. We can make one more round of checks to ensure the dataset is in good condition.

In [83]:
# checking for nulls

foods.isnull().sum()

fdc_id                        0
brand_owner                   0
branded_food_category         0
description                   0
ingredients                   0
serving_size                  0
household_serving_fulltext    0
energy                        0
fat_total                     0
fat_sat                       0
fat_trans                     0
chol                          0
protein                       0
carbs                         0
fiber                         0
sugars                        0
sodium                        0
dtype: int64

In [84]:
# checking data types
foods.dtypes

fdc_id                          int64
brand_owner                    object
branded_food_category          object
description                    object
ingredients                    object
serving_size                  float64
household_serving_fulltext     object
energy                        float64
fat_total                     float64
fat_sat                       float64
fat_trans                     float64
chol                          float64
protein                       float64
carbs                         float64
fiber                         float64
sugars                        float64
sodium                        float64
dtype: object

In [85]:
# checking summary stats
foods.describe()

,fdc_id,serving_size,energy,fat_total,fat_sat,fat_trans,chol,protein,carbs,fiber,sugars,sodium
count,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000,189145.000000
mean,476889.110682,63.853262,294.639384,13.613995,4.803161,0.036883,34.705142,8.174881,35.720865,2.793521,15.377298,759.677597
std,74038.532017,57.379124,179.109539,16.142810,7.058872,0.520518,1010.017693,8.514762,28.331802,4.260737,19.934042,3148.411725
min,344609.000000,0.015000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,409865.000000,28.000000,130.000000,0.770000,0.000000,0.000000,0.000000,2.380000,8.820000,0.000000,1.180000,67.000000
50%,473705.000000,40.000000,308.000000,8.240000,1.790000,0.000000,0.000000,6.000000,29.250000,1.600000,5.000000,314.000000
75%,541585.000000,85.000000,423.000000,21.430000,7.140000,0.000000,22.000000,11.250000,60.710000,3.600000,24.710000,591.000000
max,604972.000000,907.185000,2857.000000,100.000000,100.000000,53.570000,100000.000000,100.000000,100.000000,100.000000,100.000000,100000.000000

## Saving Data

We are going to save the progress that has been made so far, and create a file that can be loaded into the next notebook for our visual EDA.

In [86]:
foods.to_csv("../datasets/clean_foods_df.csv", index=False)

### Sources

1. https://energyeducation.ca/encyclopedia/Joule
2. https://dietarysupplementdatabase.usda.nih.gov/ingredient_calculator/help.php
3. https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfcfr/CFRSearch.cfm?fr=101.9
4. https://my.clevelandclinic.org/health/articles/4182-fat-and-calories
5. https://www.ewg.org/foodscores/products/610563222087-SweetActionIceCreamBrownSugarBananaBrownSugarBanana
6. https://www.instacart.com/giant/products/17900558-kitchens-seafood-shoreline-feast-mussels-clams-shrimp-sausage-and-veggies-in-a-flavorful-broth-4-lb
7. https://www.nutritionvalue.org/Spices%2C_chili_powder_nutritional_value.html
8. https://www.instacart.com/town-and-country/products/3344349-tapatio-spice-packet-8-ct